.device-menu {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #95C081;
  padding: 20px;
  max-width: 100%;
  width: 24%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid #255310;
  box-sizing: border-box;
}

.device-menu .System-info {
  text-align: center;
  margin-bottom: 20px;
}

.device-menu .System-info h1 {
  font-size: 25px;
  color: #255310;
}

.device-menu .device-menu-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.device-menu .device-menu-navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.device-menu .device-menu-navigation li {
  margin: 15px 0;
  text-align: center;
}

.device-menu .device-menu-navigation a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #eaf2ff;
  width: 75%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.device-menu .device-menu-navigation a:hover {
  background-color: #d4e4ff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.device-menu .log-footer {
  margin-top: 20px;
  text-align: center;
}

.device-menu .log-history-btn {
  font-size: 20px;
  color: white;
  background-color: #255310;
  border: none;
  border-radius: 15px;
  padding: 15px 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.device-menu .log-history-btn:hover {
  background-color: #1b410a;
}