.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #95C081;
    padding: 1rem;
}

.login-card {
    background-color: #ffffff;
    /* Kutucukların içi beyaz */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    /* Maksimum genişlik */
    margin: 0 auto;
    /* Ortalamak için */
}

h1 {
    color: black;
    /* Tarla App yazısı siyah */
}

.logo {
    width: 150px;
    height: 150px;
    /* Kare yapmak için height ekleyin */
    margin-bottom: 1rem;
}

.google-login {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    /* Log in with Google yazısı siyah */
}

.google-icon {
    margin-top: 0.5rem;
    width: 24px;
    /* Daha küçük boyut */
    height: 24px;
    cursor: pointer;
}