.main-menu {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #95C081;  /* Arka plan rengi */
  padding: 20px;
  max-width: 400px;
  width: 350px;
  margin: 0 auto;  /* Sayfanın ortasına yerleştiriyoruz */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);  /* Hafif gölge efekti */
  border: 2px solid #255310;  /* Kenar çizgisi */
  height: 100vh;  /* Tam ekran yüksekliği */
  display: flex;  /* Flexbox düzeni */
  flex-direction: column;  /* İçerikleri dikey hizala */
  justify-content: space-between;  /* İçerikleri yayarak düzenle */
}

.main-menu-header {
  text-align: center;
  margin-bottom: 75px;
  margin-top: 50px;
  color: #ffffff; /* Koyu metin rengi */
}

.main-menu-header h1 {
  font-size: 35px;
  margin: 0;
  color: #255310; /* Mavi başlık rengi */
}

.main-menu-header p {
  font-size: 16px;
  color: #000000; /* Açık gri alt metin */
}

.main-menu-navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 60px;
}

.main-menu-navigation li {
  margin: 15px 0;
  margin-top: 20px;
  text-align: center;
}

.main-menu-navigation a {
  text-decoration: none;
  color: #000000; /* Mavi bağlantı rengi */
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* İkon ile metin arasındaki boşluk */
  /*background-color: #eaf2ff; /* Açık mavi buton arka planı */
  width: 75%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-weight: bold;
}

.main-menu-navigation a:hover {
  background-color: #469e1d; /* Hover efekti için daha koyu mavi */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.main-menu-footer {
  text-align: center;
  margin-bottom: 40px;
}

.logout-section {
  margin-top: auto;
  text-align: center;  
  margin-bottom: 20px;  
}


.logout-btn {
  font-size: 20px;
  color: white;
  background-color: #255310;  
  border: none;
  border-radius: 5px;
  padding: 10px 30px;  
  cursor: pointer;
  transition: background-color 0.3s ease;  
}

.logout-btn:hover {
  background-color: #1b410a;  
}
.user-info {
  font-size: 8px;
  display: flex;
  flex-direction: column; /* Profil resmini ve ismi dikey hizala */
  align-items: center; /* Ortala */
  gap: 10px; /* Resim ile isim arasında boşluk */
  margin-top: -175px; /* Bu değerle profil bilgisini aşağıya taşıyabilirsiniz */
  margin-bottom: -150px;
}

.user-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Yuvarlak profil resmi */
  background-color: white; /* Arka plan */
}

.user-info p {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}