.quick-menu {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #95C081;
  /* Arka plan rengi */
  padding: 20px;
  max-width: 1000px;
  /* Maksimum genişlik */
  width: 500px;
  /* Genişlik */
  margin: 0 auto;
  /* Ortala */
  height: 100vh;
  /* Tam ekran yüksekliği */
  display: flex;
  /* Flexbox düzeni */
  flex-direction: column;
  /* İçerikleri dikey hizala */
  justify-content: space-between;
  /* İçerikleri yayarak hizala */
  border: 0.5px solid #255310;
  /* Kenar çizgisi */
}

/* Kullanıcı Bilgisi */
.quick-menu .user-info {
  font-size: 8px;
  display: flex;
  flex-direction: column;
  /* Kullanıcı bilgilerini dikey hizala */
  align-items: center;
  /* Ortala */
  gap: 10px;
  /* Bilgiler arasındaki boşluk */
  margin-top: 50px;
  /* Yukarı boşluğu ayarla */
  margin-bottom: -50px;
  /* Alt boşluğu ayarla */
}

.quick-menu .user-info h1 {
  font-size: 30px;
  /* Kullanıcı adı boyutu */
  color: #255310;
  /* Beyaz yazı rengi */
  margin: 0;
}

/* Navigasyon Menüsü */
.quick-menu .main-menu-navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 275px;
}

.quick-menu .main-menu-navigation li {
  margin: 15px 0;
  margin-top: 20px;
  text-align: center;
}

.quick-menu .main-menu-navigation a {
  text-decoration: none;
  /* Alt çizgiyi kaldır */
  color: #000000;
  /* Siyah yazı rengi */
  font-size: 20px;
  /* Yazı boyutu */
  padding: 10px 20px;
  /* İç dolgu */
  border-radius: 10px;
  /* Yuvarlatılmış köşeler */
  display: inline-flex;
  align-items: left;
  /* İkon ve metni dikey ortala */
  justify-content: left;
  /* Ortala */
  gap: 8px;
  /* İkon ile metin arasındaki boşluk */
  background-color: #eaf2ff;
  /* Buton arka plan rengi */
  width: 75%;
  /* Buton genişliği */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  /* Geçiş efekti */
}

.quick-menu .main-menu-navigation a:hover {
  background-color: #d4e4ff;
  /* Hover efekti */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  /* Hover gölgesi */
}

/* Sistem Bilgisi */
.quick-menu .System-info {
  text-align: center;
  /* Ortala */
  margin-top: 10px;
  /* Üst boşluk */
}

.quick-menu .System-info h1 {
  font-size: 25px;
  /* Sistem bilgisi yazı boyutu */
  color: #255310;
  /* Beyaz yazı rengi */
}

/* Footer (Log History Butonu) */
.quick-menu .log-footer {
  margin-top: 75px;
  /* Footer'ı en alta taşı */
  text-align: center;
  /* Ortala */
}

.quick-menu .log-history-btn {
  font-size: 20px;
  /* Buton yazı boyutu */
  color: white;
  /* Beyaz yazı rengi */
  background-color: #255310;
  /* Arka plan rengi */
  border: none;
  /* Çerçevesiz */
  border-radius: 5px;
  /* Yuvarlatılmış köşeler */
  padding: 15px 40px;
  /* İç dolgu */
  cursor: pointer;
  /* İşaretçi */
  transition: background-color 0.3s ease;
  /* Hover geçiş efekti */
}

.quick-menu .log-history-btn:hover {
  background-color: #1b410a;
  /* Hover efekti için daha koyu yeşil */
}