.schedule-page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.schedule-page {
    flex: 1;
    position: relative;
    padding: 20px;
    overflow-y: auto;
    /* İçeriğin taşması durumunda dikey kaydırma çubuğu ekleyin */
}

.top-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.top-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.calendar-header-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.calendar-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.selected-date {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.add-event-button {
    margin-top: 20px;
    background-color: rgb(47, 121, 45);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-panel {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.event-panel h2 {
    margin-top: 0;
}

.event-panel form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event-panel label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.event-panel input,
.event-panel select {
    padding: 5px;
    font-size: 14px;
}

.event-panel button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* Responsive tasarım için medya sorguları */
@media (max-width: 768px) {
    .calendar-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .add-event-button {
        width: 100%;
        justify-content: center;
    }

    .event-panel {
        width: 90%;
        right: 5%;
    }
}